/node_modules
/public/hot
/public/storage
/public/css
/public/js
/storage/*.key
/.scannerwork
sonar-project.properties
/vendor
.env
.env.backup
.phpunit.result.cache
.php-cs-fixer.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
/workspace
/public/js/
/public/css/
