sonar.projectKey=adoteumdev
sonar.issuesReport.html.enable=true
sonar.report.export.path=sonar-report.json

sonar.sources=app,tests,resources,routes

sonar.sourceEncoding=UTF-8

# Reusing PHPUnit reports
sonar.php.coverage.reportPaths=ci/codeCoverage/codeCoverage.xml
sonar.php.tests.reportPath=ci/testResults.xml

sonar.exclusions=app/Providers/**,vendor/**,node_modules/**

sonar.issuesReport.html.enable=true
sonar.report.export.path=report.json
